In [14]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportion_confint

# №1
H0: уровень стресса не отличается от среднего
two-sided, потому что не важно, отличается ли в большую или в меньшую сторону

In [8]:
stats.binom_test(67, 100, 0.75, alternative = 'two-sided') # => отличается от среднего
round(0.08222258891386608,4)

0.0822

# №2

In [9]:
stats.binom_test(22, 50, 0.75, alternative = 'two-sided')# => не отличается от среднего

3.4831478978300243e-06

In [13]:
proportion_confint(22, 50, alpha=0.05, method = "wilson")

(0.3116219921125716, 0.5769397197834314)

# 3

In [15]:
data = pd.read_table('pines.txt',sep='\s+',engine='python')
data

        sn     we
0    200.0    8.8
1    199.3   10.0
2    193.6   22.4
3    167.7   35.6
4    183.9   45.4
..     ...    ...
579  169.1  160.0
580  162.5  157.3
581  156.7  155.3
582  154.1  150.8
583   87.7  200.0

[584 rows x 2 columns]

In [25]:
bins=[40,80,120,160,200]
observed_frequences=stats.binned_statistic_2d(data.sn, data.we, 0, 'count', bins=5).statistic # mean count of bins in each square
#584/25 uniform

# 4

In [36]:
observed_frequences=observed_frequences.ravel()
print(observed_frequences)
expected_frequences=25*[584/25]
expected_frequences

[18. 26. 29. 25. 20. 14. 12. 22. 34. 25. 12. 24. 15. 50. 37.  8. 19. 31.
 50.  7.  7.  8. 37. 27. 27.]

[23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36]

In [40]:
round(stats.chisquare(observed_frequences, expected_frequences, ddof = 1).statistic,2) # => сосны распределены неравномерно

150.59