In [11]:
import pandas as pd
import numpy as np

# 4
Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки

In [10]:
data=pd.read_table('illiteracy.txt')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [16]:
X1=np.array(data.iloc[:,1])
X2=np.array(data.iloc[:,2])

In [38]:
def Pirson(X1,X2):
    mean1=X1.mean()
    mean2=X2.mean()
    return sum((X1-mean1)*(X2-mean2))/np.sqrt(sum((X1-mean1)**2)*sum((X2-mean2)**2))

In [39]:
r=Pirson(X1,X2)
round(r,4)

0.7687

In [148]:
def Spearman(X1,X2):
    sorted_X1=np.sort(X1)
    sorted_X2=np.sort(X2)
    n=len(X1)
    rank_X1=np.array([sum(np.where(sorted_X1 == value)[0])/len(np.where(sorted_X1 == value)[0]) for value in X1])
    rank_X2=np.array([sum(np.where(sorted_X2 == value)[0])/len(np.where(sorted_X2 == value)[0]) for value in X2])
    return 1-6/(n**3-n)*sum((rank_X1-rank_X2)**2)
    #return 12*sum((rank_X1-(n+1)/2)*(rank_X2-(n+1)/2))/(n**3-n)

In [150]:
round(Spearman(X1,X2),4)

0.753

In [141]:
data.iloc[:,1:].corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [151]:
round(0.752962,4)

0.753